body {color: red;
    background-color: #cccccc;
    margin-left: 100px;
}

ul {
    background-color: rgb(132,0,132);
    width: 160px;
}

li {
    border: 1px solid white;
    padding: 2px;
}

h1 {
    color: white;
    word-spacing: 25px;
    font-family: 'Comic Sans MS', cursive;
    border: 5px solid red;
    width: 600px;
    padding: 5px;
    margin-right: 10px;
}

p {
    text-align: center;
    width: 200px;
    background-color: rgb(132,132,0);
    border: 5px solid blue;
    padding: 5px;
}

h3 {
    font-style: italic;
    text-transform: lowercase;
    font-family: Arial, cursive;
    text-align: right;
    margin-right: 130px;
}