h1 {border: 2px solid #0000ff;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2{border: 2px solid #aaaaaa;
    padding: 5px;
}

ul, ol {
    border: 2px solid #00ff00;
}

body {
    margin-left: 10px;
    margin-right: 10px;
}

