
* {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	
}

@font-face {
  font-family: 'TheSoulOfVodka';
  src: url('../tsov.ttf') format('truetype');
}

header {
	float: left;
	margin-left: 210px;
	width: 80.5%;
	padding: 15px;
	border: 1px solid #dddddd;	
}

h1 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	
	font-weight: 100;
	font-size: 20px;
}

nav {
	float: left;
	width: 200px;
	min-height: 730px;
	border: 1px solid #dddddd;
	margin-top: -86px;
}

nav ul {
	margin-top: 115px;
}

nav li {
	line-height: 3em;
    background: url("../imagenes/carpeta.png") no-repeat 5px 12px  transparent;
    list-style-type: none;
    margin: 0;
    padding: 0px 0px 1px 29px;
    vertical-align: middle;
}

nav li a {
	text-decoration: none;
	color: #333333;
}

aside{
	float: right;
	width: 12.4%;
	border: 1px solid #dddddd;
	margin-top: 10px;
	min-height: 633px;
	position: relative;
	left: 0px;
}

aside h3 {		
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	
	font-weight: 100;
	text-align: center;
	color: #333333;
}

#contenidos {
	margin-left: 10px;
	margin-top: 10px;
	padding: 15px;
	float: left;
	min-width: 67%;
	border: 1px solid #dddddd;	
	font-family: Segoe;	font-weight: 200;
}

#contenidos img {
	scale: 70%;
}

#lmsgi{
	float: right;
	margin-right: 130px;
	color: rgb(255,127,39);
	font-family: TheSoulOfVodka,Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	max-width:  260px;
	text-align: center;
}

a {
	text-decoration: none;
}

article ul li {
	list-style-image:  url("../imagenes/pdf.png");
}

article ul li a{
	color: rgb(255,127,39);
}

article{
	border-top: 1px solid rgb(255,127,39);;
}

h3 h4 h5 {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;	
}

h3 {
	font-weight: 300;
	color: rgb(255,127,39);
}

h4 {
	color: rgb(0,85,27);

	font-size: 18px;
}

h5 {
	color: rgb(0,0,255);
	font-size: 16px;
}

footer {
	float: left;
	width: 100%;
}

footer div:nth-child(2) {	
	background-color:rgb(55, 58, 60);
	height: 50px;
  }

#educastur{
	scale: 66%;
	margin-left: 16%;
}

#aulas{
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	padding: 15px;
}
#aulas em {
	color: honeydew;
	font-style: normal;
	font-weight: bold;
}

#subir {
	float: right;
	padding-bottom: -10px;
}

#subir img {
	scale: 80%;
	position: relative;
	top: -8px;
	left: 6px;
}